# !STARTERCONF Duplicate this to .env.local

# DEVELOPMENT TOOLS
# Ideally, don't add them to production deployment envs
# !STARTERCONF Change to true if you want to log data
NEXT_PUBLIC_SHOW_LOGGER="false"
OPENAI_API_KEY
NEXT_PUBLIC_ELEVENLABS_API_KEY
NEXT_PUBLIC_APPWRITE_API_ENDPOINT
NEXT_PUBLIC_APPWRITE_PROJECT_ID
NEXT_PUBLIC_ALLOWED_DOMAINS
NEXT_PUBLIC_UPLOAD_BACKEND # full orl with path